{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-primary bg-opacity-50">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Wishlist</a>
          </li>
        </ul>
        <span class="navbar-brand mb-0 h1">Elsa Giana Abigail Sitompul</span>
        <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
      </div>
    </div>
  </nav>

 
<div class="bg-primary p-2 bg-opacity-10">
  <div class="container text-center">   
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Nama Barang</th>
        <th scope="col">Harga Barang</th>
        <th scope="col">Deskripsi</th>
      </tr>
    </thead>
    {% for barang in list_barang %}
    <tbody>
      <tr>
        <td>{{barang.nama_barang}}</td>
        <td>{{barang.harga_barang}}</td>
        <td>{{barang.deskripsi}}</td>
      </tr>
    </tbody>
    {% endfor %}    
  </table>
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>



</div>
{% endblock content %}